@font-face {
    font-family: "raleway";
    src: url(./font/Raleway-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway";
}

a {
    text-decoration: none;
    color: black;
}
/*BODY*/

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px 0 50px;
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav a {
    padding: 50px 20px;
}

nav a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

/*RECHERCHER*/

.section-search h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.section-activity p {
    font-size: 16px;
}

.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 18px;
}

.filtres label {
    margin-right: 25px;
}

.filtres div {
    display: flex;
    flex-wrap: wrap; /*reduire la taille = mettre haut dessus des autres*/
}

.filtres div a {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: solid #F2F2F2 2px;
    margin: 10px 15px;
    padding: 10px 20px;
}

.filtres div a:hover {
    background-color: #0065fc17;
}

.filtres div a i {
    color: #0065FC;
    padding-right: 10px;
}

.about {
    display: flex;
    align-items: center;
}

.about div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: solid #F2F2F2 2px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.about div i {
    color: #0065FC;
    font-size: 10px;
}

.about p {
    font-size: 15px;
}

.search-form {
    display: flex;
    padding: 10px 0;
    font-size: 18px;
    margin-top: 9px;
}

.search-form div {
    background-color: #F2F2F2;
    padding: 15px 20px;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input {
    border: solid 1px #F2F2F2;
    padding: 10px 15px;
    max-height: 45px;
    font-size: 18px;
}

.search-form button {
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-family: "raleway";
    letter-spacing: 1px;
    padding: 0 20px;
    border-radius: 0px 15px 15px 0px;
}

/*pour le responsive*/
.search-form button::before {
    content: "Rechercher";
    font-weight: bold;
}

/*HEBERGEMENT A MARSEILLE*/

.hebergement {
    display: flex;
    margin: 30px 0;
}

.hebergement-marseille {
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
    margin-right: 30px;
    flex: 2;
}

.hebergement-marseille h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.div-marseille {
    display: flex;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    border: white solid 5px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:not(:last-child){
    margin-right: 30px;
}

.card > img {
    object-fit: cover;
}

.card > div {
    padding: 10px;
}

.card > div > h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card > div > p{
    font-size: 16px;
}



.fa-star {
    color: #F2F2F2;
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 12px;
}

.fa-star.blue {
    color: #0065FC;
}

.stars{
    display: inline-flex;
}

/*LES PLUS POPULAIRES*/

.popular-marseille {
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
    flex: 1;
    
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-content > i {
    color: #0065FC;
    font-weight: bold;
    font-size: 22px;
}

.top-content > h2 {
    font-weight: bold;
    font-size: 22px;
}

.popular-class {
    display: flex;
    flex-direction: column;
}

.card2 {
    display: flex;
    background-color: white;
    border-radius: 15px;
    border: white solid 5px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card2:not(:last-child){
    margin-bottom: 30px;
}

.card2 > img {
    height: 124px;
    width: 137px;
    object-fit: cover;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}




/*ACTIVITE A MARSEILLE*/

.section-activity {
    margin-bottom: 75px;
}

.section-activity h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.activity {
    display: flex;
}

.activity a {
    flex: 1;
    overflow: hidden; /*si dépasse flex 1, cacher le dépassement*/
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* https://getcssscan.com/css-box-shadow-examples */
}

.activity a img {
    height: 370px;
    display: block;
    width: 100%;
    object-fit: cover; /*object fit: prendre l'image avec sa qualité pour couvrir toute la place, comme un cover avec meilleur qualité*/
}

.activity a h3 {
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
}

/*dans activité, je selectionne tout mes a sauf le dernier enfant et j'applique 30px de margin a droite sauf le dernier*/
.activity a:not(:last-child){
    margin-right: 30px;
}

/*FOOTER*/

footer {
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

footer div {
    display: flex;
    flex-direction: column;
    flex: 1
}

.div-footer h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.div-footer a {
    font-size: 16px;
    margin-bottom: 10px;
}

.tou {
    border: #0065FC solid 1px;
}
/*RESPONSIVE*/

@media screen and (max-width: 768px) {
    body {
        padding: 0px;
    }
    header {
        display: flex;
        flex-direction: column;
    }

    header > a {
        padding: 20px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .link-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        border-bottom: #F2F2F2 solid 3px;
        padding: 20px;
    }

    .link-nav-selection {
        color: #0065FC;
        border-bottom: #0065FC solid 3px;
    }

    .section-search {
        padding: 40px 15px 0px 15px;
    }

    .search-form {
        margin: 30px 0px;
        justify-content: center;
    }

    .search-form > button::before {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        font-weight: 900px;
    }

    .filtres {
        margin-bottom: 30px;
    }

    .filtres > div > a {
        justify-content: flex-start;
    }

    .filtres > div > a > p {
        font-size: 11px;
    }

    .hebergement {
        flex-direction: column;
    }

    .popular-marseille {
        border-radius: 0px;
        padding: 30px 20px;
    }

    .hebergement-marseille {
        background-color: white;
        width: 100%;
        padding: 30px 20px;
        order: 2;
    }

    .div-marseille {
        flex-direction: column;
        margin: 0;
    }

    .card {
        width: 100%;
        margin-bottom: 30px;
    }

    .afficher-plus {
        display: none;
    }

    .section-activity {
        padding: 30px 20px;

    }

    .activity {
        flex-direction: column;
        width: 100%;
    }

    .activity > a {
        width: 100%;
        margin-bottom: 30px;
    }

    .activity > a > img {
        height: 150px;
    }

    .activity > a > h3 {
        margin: 20px;
        font-size: 14px;
    }

    footer {
        flex-direction: column;
    }

    .div-footer {
        margin-bottom: 30px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px){

    .hebergement {
        flex-direction: column;  
    }

    .hebergement-marseille {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .popular-class {
        display: flex;
        flex-direction: row;
    }

    .card2 {
        display: flex;
        flex: 1;
        height: 144px;
    }

    .card2:not(:last-child){
        margin-right: 20px;
    }

    .card2 > img {
        height: 100%;
        width: 100px;
    }

    .top-content > i {
        font-size: 18px;
    }

    .card-details > div > h3 {
        font-size: 15px;
    }

    .card-details > div > p {
        font-size: 13px;
    }

    .activity > a > img {
        height: 220px;
    }

}