* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header-nav img {
    
    min-width: 100px;
    width: 8%;
    margin-left: 61px;
    margin-top: 29px;
}

.header-nav nav a:hover {
    color: #0065fc;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.header-nav nav {
    margin-right: 40px;
    
}

.hebergement {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    background-color: #D9D9D9;
    border-radius: 4px;
    
}

.activity{
    display: flex;

    flex-flow: row wrap;

    justify-content: space-around;

}

.section-footer{
    display: flex;
    justify-content: center;
}

.section-footer div {
    background: #D9D9D9;
}
  